body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Set a warm background color */
}

img {
    max-width: 100%;
    max-height: 90vh; 
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20em;
}

.image-subtitle {
    font-style: italic;
    color: white;
}

.image-subtitle + img {
    margin-top: 20px; /* Add margin only to images preceded by .image-subtitle */
}
